
## Text Classification 

### Predicting Category

#### Objectives

On completing the assignment, you will be able to write a simple AI  application involving supervised classification.

#### Description

Write an AI application which, when provided with a penguin's attributes such as its bill length, bill depth, flipper length etc, it will predict the species to which the penguin belongs. For training and testing the application, please use the labeled data set provided in the file, sn_penguin.csv. The data, provided, contains data for about 344 penguins belonging to 3 different species named Adelie, Chinstrap, and Gentoo. Each data item is labeled with the name of the species to which it belongs. Use 80% of the data items for training, and the remaining 20% for testing. Use sklearn's KNeighborsClassifier classifier with its parameter n_neighbors set to 5 train the classifier with the training data. After the classifier is trained, test the classifier using the testing data and produce accuracy score, classification report, and confusion matrix. Then, optionally try out a few self-created individual values and note the application response. 


#### Implementation Notes


#### Dataset source

The data set used is downloaded from the Seaborn website .


### Submittal

The uploaded submittal should contain the following:

- jpynb file after running the application from start to finish containing the marked source code, output, and the user interaction.
  
- the  html file corresponding to the above jpynb file.

#### Coding

Follow the steps of assignment 1.
Make sure to detect the data items containing null values and remove them.

Read data from csv file to a pandas data frame

In [3]:
import pandas as pd

df=pd.read_csv('penguin.csv',index_col=0)
print (df.shape)
df [0:3]

(344, 7)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female

Detect data samples with entries containing null

In [6]:
df.isna().sum().sum()

19

Drop data samples with entries containing null

In [9]:
df=df.dropna()
df.isna().sum().sum()

0

display shape and first few samples

In [14]:
print (df.shape)
df [0:3]

(333, 7)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female